/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url("./img/background.jpg");
  width: 100%;
  background-repeat: no-repeat;
}

.payment {
  background-color: #fff;
  height: 350px;
  width: 80%;
  margin: 0 auto;
  margin-top: 6.8em;
  border-radius: 6px 6px 0px 0px;
}

.payment .sessions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment .sessions .first-circle, .payment .sessions .second-circle, .payment .sessions .third-circle {
  width: 6px;
  height: 6px;
  background-color: #D7D7D7;
  border-radius: 50%;
  margin: 20px 4px;
}

.payment .sessions .first-circle {
  background-color: #9D9D9D;
}

.payment .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #D7D7D7;
}

.payment .title .main-title {
  text-transform: uppercase;
  color: #1B1918;
  margin-bottom: 8%;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.card {
  border-bottom: 1px solid #D7D7D7;
}

.card:hover {
  background-color: #F6F6F6;
}

.card .card-visa {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-img {
  width: 50px;
}

.card .card-title-gray {
  text-transform: uppercase;
  color: #B1B1B2;
  margin-left: 15px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.card .card-title {
  text-transform: uppercase;
  color: #1B1918;
  margin-left: 15px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.card .card-mastercard {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-mastercard .img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-maestro {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-button {
  width: 100%;
  background-color: #598BDD;
  border: none;
}

.next-button:active {
  background-color: #4F82E1;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.next-button:hover {
  background-color: #4F82E1;
}

.next-button .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 15px;
  cursor: pointer;
  width: 100%;
}

.next-button .next .next-title {
  color: white;
  text-transform: uppercase;
  margin-right: 6px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.next-button .next .arrow {
  width: 15px;
}

@media (min-width: 768px) {
  .payment {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  .payment {
    width: 30%;
  }
}

@media (min-width: 1800px) {
  .payment {
    width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */